.last-updated {
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  padding-bottom: 20px;
}

.section__text.privacy {
  text-align: left;
  color: #000;
  font-size: 16px;
}

.topic__title {
  font-size: 16px;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 20px;
}
